@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: teal;
}
.brand {
  width: 500px;
}
svg {
  width: 100%;
  height: 100%;
}
#dvx-line1{
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  animation: dash 5s linear 1s;
}
